raw_data/*
!raw_data/.gitkeep

stocks_data/*
!stocks_data/.gitkeep

# notebooks/*
# !notebooks/.gitkeep

objects/*
!objects/.gitkeep
papers/
data/
__pycache__/*
datasets/10-*

.DS_Store
docs/FIAM-MCGILL_HACKATHON_RELEASE FORM.pdf
datasets/
*.txt


